<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775630055811-kab8t5tdtsdjod4796r2jrfb46bemp93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775630055811-kab8t5tdtsdjod4796r2jrfb46bemp93</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>775630055811-8l6tv3s0fv8867jiq7k862f4lmhdq7pf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg9k1lXorCIU5jK4b4g_p1rFV_8rdGJLI</string>
	<key>GCM_SENDER_ID</key>
	<string>775630055811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.genesismatrimony.ios</string>
	<key>PROJECT_ID</key>
	<string>newgenesismatrimony-2f516</string>
	<key>STORAGE_BUCKET</key>
	<string>newgenesismatrimony-2f516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775630055811:ios:cc62d9a5c0bfb1f7b3eeb6</string>
</dict>
</plist>